services:
  app:
    build:
      context: .
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    env_file:
      - .env
    ports:
      - "3000:3000"
      - "3036:3036"
    depends_on:
      - psql
    environment:
      - TZ=America/Sao_Paulo

  psql:
    image: postgres:18-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - TZ=America/Sao_Paulo
    ports:
      - "3301:5432"

volumes:
  postgres_data:
  node_modules: