services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file:
      - .env
    environment:
      - TZ=America/Sao_Paulo
    ports:
      - "3000:3000"
    depends_on:
      - psql
    restart: unless-stopped

  psql:
    image: postgres:18-alpine
    env_file:
      - .env
    environment:
      - TZ=America/Sao_Paulo
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: